<div class="py-5">
  <div class="container">
    <div class="motto text-center">
    Currently it's only possible to modify playlist that are owned by you.
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let playlist of playlists" style="margin-bottom: 20px">
        <div class="card bg-primary" >
          <div class="card-body" [routerLink]="['/playlist', playlist.id]">
            <h5 class="card-title text-white">{{playlist.name}}</h5>
            <p class="card-text text-white" style=""></p>
            <img src="{{playlist.img}}" class="card-img-top">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
