


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="" alt="logo" style="width:40px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/playlistoverview">Scramble!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://silasstulz.ch/projects.html">About</a>
    </li>
    <li *ngIf="loggedIn()" class="nav-item">
      <span class="text-primary nav-link" (click)="logout()">Logout</span>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
